<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% extends 'emission_check/emission_home.html' %}
{% load static %}
{% block content %}
<head>
<title>USER DETAILS</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Fare Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<!-- font-awesome-icons -->
<link href="{% static 'user/css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="{% static 'user/css/style.css' %}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
<!--//fonts--> 
</head>
<body style="background-image: url('/static/img/co2.PNG'); background-repeat:no-repeat; background-size: 90% 85%;">
<script>
{% for m in messages %}
      alert('{{ m }}');
{% endfor %}
   </script>
<!--background-->
<h1 style="color:black;"> USER DETAILS</h1>
    <div class="bg-agile" style="color:black;">
	<img src="images/side.png" alt="">
	<div class="book-appointment">
	<h2 style="color:black;">Enter your details</h2>
						<div class="book-form agileits-login">
							<form action="/usersave/" method="post">
								{% csrf_token %}
								<div class="phone_email">
									<label  ><h4> name :</h4> </label>
									<div class="form-text">
										<i class="fa fa-user" aria-hidden="true"></i>
										<input type="text" name="name" placeholder="" required="">
									</div> 
								</div>
<!--								<div class="phone_email phone_email1">-->
<!--									<label>Email : </label>-->
<!--									<div class="form-text">-->
<!--										<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
<!--										<input type="email" name="email" placeholder="" required="">-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="phone_email">-->
<!--									<label>Phone number : </label>-->
<!--									<div class="form-text">-->
<!--										<i class="fa fa-phone" aria-hidden="true"></i>-->
<!--										<input type="text" name="Phone no" placeholder="" required="">-->
<!--									</div> -->
<!--								</div> -->
								<div class="phone_email phone_email1">
									<label style="color:black;">Address : </label>
									<div class="form-text">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<input type="text" name="address" placeholder="" required="">
									</div>
								</div>
								<div class="clear"></div>
								<div class="agileits_reservation_grid">
									<div class="span1_of_1">
<!--										<label style="color:black;">Date : </label>-->
<!--										<div class="book_date">-->
<!--											<i class="fa fa-calendar" aria-hidden="true"></i>-->
<!--												<input  id="datepicker" name="date" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">-->

<!--										</div>-->
									</div>
<!--									<div class="span1_of_1">-->
<!--										&lt;!&ndash; start_section_room &ndash;&gt;-->
<!--										<label>Time : </label>-->
<!--										<div class="section_room">-->
<!--											<i class="fa fa-clock-o" aria-hidden="true"></i>-->
<!--											<select id="country" onchange="change_country(this.value)" class="frm-field required">-->
<!--												<option value="AX"></option>-->
<!--												<option value="null">Lunch</option>-->
<!--												<option value="null">Dinner</option>-->
<!--												<option value="AX">Break Fast</option>-->
<!--											</select>-->
<!--										</div>-->
<!--									</div>-->
									<div class="span1_of_1">
										<label style="color:black;">No.of people : </label>
										<!-- start_section_room -->
										<div class="section_room">
											<i class="fa fa-users" aria-hidden="true"></i>
											<select   id="country1"  name="no_of_peple" onchange="change_country(this.value)" class="frm-field required sect">
												<option value="AX"></option>
												<option value="1">1People</option>
												<option value="2">2People</option>
												<option value="3">3People</option>
												<option value="4">4 People</option>
												<option value="5">5people</option>
												<option value="6">6people</option>
												<option value="7">7people</option>
												<option value="8">8people</option>
												<option value="9">9people</option>
												<option value="10">10people</option>





											</select>
										</div>
									</div>
									<div class="span1_of_1">
										<label style="color:black;">TYPE OF SHELTER : </label>
										<div class="section_room">
											<i class="fa fa-users" aria-hidden="true"></i>
											<select id="country1" name="type_of_shelter" onchange="change_country(this.value)" class="frm-field required sect">
												<option value="AX"></option>
												<option value="HUT">HUT</option>
												<option value="APARTMENT">APARTMENT</option>
												<option value="HOTEL">HOTEL</option>
												<option value="PALACE">PALACE</option>
												<option value="OTHER">OTHER</option>
											</select>
										</div>
									</div>
									<div class="span1_of_1">
										<label style="color:black;">REGION OF LIVING : </label>
										<!-- start_section_room -->
										<div class="section_room">
											<i class="fa fa-users" aria-hidden="true"></i>
											<select id="country1" name='region' onchange="change_country(this.value)" class="frm-field required sect">
												<option value="AX"></option>
												<option value="URBAN">URBAN</option>
												<option value="RURAL">RURAL</option>
												<option value="DEVELOPING">DEVELOPING</option>
												<option value="DEVELOPED">DEVELOPED</option>
												<option value="OTHER">OTHER</option>
											</select>
										</div>	
									</div> 
									<div class="clear"></div>
								</div> 
												<div class="wthree-text">

														</label>
													</li>
													<li>

													</li>
												</ul>
												<div class="clearfix"> </div>
											</div>
								<center><input type="submit" value="submit"></center>
							</form>
						</div>

		</div>
   </div>
   <!--copyright-->

		<!--//copyright-->
		<script type="text/javascript" src="{% static 'user/js/jquery-2.1.4.min.js' %}"></script>
		<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'user/css/jquery-ui.css' %}" />
				<script src="{% static 'user/js/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

</body>
{% endblock %}

</html>